<div class="container">
<% if (data > 0) { %>
    <table class="table m-3 table-bordered">
        <thead class="thead-dark">
        <tr>
            <th class="text-center">Nombre</th>
            <th class="text-center">Precio</th>
            <th class="text-center">Foto</th>
        </tr>
        </thead>
        <% data.forEach(function(element) { %>
        <tbody class="">
        <tr class="container">
            <td class="align-middle text-center"><%= element.title %></td>
            <td class="align-middle text-center">US$ <%= element.price %></td>
            <td class="align-middle text-center"><img src="<%= element.thumbnail %>" 
                style="height: 100px" 
                alt="<%= element.thumbnail %>"></td>
        </tr>
        </tbody>
        <% }); %>
    </table>
    
<% } else { %>
    <div class="container">
        <div class="alert alert-danger text-center align-middle m-5" role="alert">
            <p>No se encontraron productos</p>
        </div>
    </div>
<% } %>
</div>